<header class="d-flex flex-row flex-md-row align-items-center justify-content-between pb-3 mb-4 border-bottom">

  <img src="/assets/images/Logo.png" alt="logo" style="max-height: 100px;" class="mx-4">

  <nav class="d-inline-flex mt-2 mx-3 text-uppercase fs-4">
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Home</a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Shop</a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Contact</a>
  </nav>
  <div class="d-inline-flex mt-2 mx-4 justify-content-between gap-3">
    <a class="position-relative d-flex justify-content-end ">
      <i class="fa fas fa-shopping-basket fa-2x me-2 text-dark "></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-secondary" href="#">Login</a>
    <a class="btn btn-outline-secondary" href="#">Register</a>
  </div>
</header>